<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="styles.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <meta charset="UTF-8">
</head>

<body>
  <div id="app">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
    <todo-list v-bind:todos="todos" v-on:selection="onSelection"></todo-list>
    <div class="actions">
      <button class="btn-large waves-effect waves-light pink" type="button" v-on:click="resetTodos">Reset</button>
      <button class="btn-large waves-effect waves-light pink" type="button" v-bind:class="{ disabled: !canComplete }" v-on:click="resetTodos">DONE!</button>
    </div>
  </div>
  <script src="todo-list.js" type="module"></script>
  <script src="todo-item.js" type="module"></script>
  <script src="todos.js" type="module"></script>
  <script src="app.js" type="module"></script>
</body>

</html>