/*************** LAYOUT *********************/
html,
body,
#app {
  height: 100%;
}

#app {
  display: grid;
  grid-template-columns: auto 700px auto;
  grid-template-rows: 20% auto 30%;
}

@media (max-width: 768px) {
  #app {
    grid-template-columns: 10px auto 10px;
  }
}

.title {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.todo-list {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.actions {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

/************** LAYOUT END **********************/

.todo-item {
  margin: 25px 0;
}

.todo-item span {
  font-size: 1.5rem !important;
}

.todo-item span::before {
  width: 10px !important;
  height: 17px !important;
}

.todo-item span::after {
  width: 25px !important;
  height: 25px !important;
}

.todo-item input[type=checkbox]:not(:checked)+span {
  color: #606060 !important;
}

.todo-item input[type="checkbox"].filled-in:checked+span:not(.lever)::after {
  border-color: #e91e63;
  background-color: #e91e63;
}

.actions {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
}